h4.my-5 {
    padding: -23px 1px 1px 1px;
    margin: -10px 607px 44px 3px;
}

table,
tr,
td {
    border: rgb(255, 255, 255) 1px solid;
    border-collapse: collapse;
}

table {
    direction: rtl;
}

h5.card-header {
    float: right;
}

a.li-table {
    display: inline-block;
    color: rgb(12, 144, 232);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 14px 10px -4px 168px;
    padding: 1px 1px 1px 1px;
}

body {
    background-image: url('wallpaper-gif-10.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

html {
    scroll-behavior: smooth;
}