ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

li {
    float: right;
}

li a {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 14px 10px -4px 168px;
    padding: 1px 1px 1px 1px;
}

li a:hover {
    background-color: brown;
}

a:link,
a:hover {
    text-decoration: none;
    outline: 0 !important;
}